<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../../css/ztree/zTreeStyle.css" type="text/css">
</head>
<body>

	<div class="zTreeDemoBackground left">
		<ul id="treeDemo" class="ztree"></ul>
	</div>
	<div >
		<canvas id="can" width="400px" height="300px" style="border:2px red solid">4</canvas>
		<button id="drawCanvas">画图</button>
	</div>
	
	<div> <a href="../../page/learn/navlearn.html" target="_blank">学习导航固定</a></div>
	<span>学习表单上传</span>
	<div>
		<form id="test_form">
			姓名:<input type="text" name="name" >
			年龄:<input type="text" name="age">
			文件:<input type="file" name="file">
		</form>
	</div>

<script type="text/javascript" src="../../js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="../../js/ztree/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="../../js/learn/learn.js"></script>
</body>

</html>