<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>学习</title>
	<link rel="stylesheet" type="text/css" href="/nba/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/nba/css/base.css">
	<link rel="stylesheet" type="text/css" href="/nba/css/index.css">
</head>
<body>

	<div id="header">
		<div class="page-container" id="nav">
			<ul class="nav-item">
				<li><a href="/nba/index.html" target="view-iframe">赛果分析</a></li>
				<li><a href="/nba/view/gameEntry.html" target="view-iframe">赛果录入</a></li>
				<li><a href="/nba/view/teamAnalyze.html" target="view-iframe">球队分析</a></li>
				<li><a href="/nba/view/learn/learn.html" target="view-iframe">学习</a></li>
				<li><a href="/nba/view/analysisPredict.html" target="view-iframe">分析预测</a></li>
				<li><a href="/nba/view/teamAssessment.html" target="view-iframe">球队评估</a></li>
			</ul>
		</div>
	</div>

	<div class="content">
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				Dropdown
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li><a href="http://www.baidu.com">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li role="separator" class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</div>
	</div>


<script type="text/javascript" src="/nba/webjars/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/nba/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/nba/js/learn/learn.js"></script>
</body>

</html>