<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../../css/ztree/zTreeStyle.css" type="text/css">

<link rel="stylesheet" type="text/css" href="../../css/learn/navlearn.css">
</head>
<body>
<div id="header">
	<div class="page-container" id="nav">
		<ul class="nav-item">
			<li><a href="../../page/gameAnalyze.html" target="view-iframe">赛果分析</a></li>
			<li><a href="../../page/gameEntry.html" target="view-iframe">赛果录入</a></li>
			<li><a href="../../page/teamAnalyze.html" target="view-iframe">球队分析</a></li>
			<li><a href="../../page/learn/learn.html" target="view-iframe">学习</a></li>
		</ul>
	</div>
</div>

<div class="content">
</div>
<script type="text/javascript" src="../../js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="../../js/ztree/jquery.ztree.core-3.5.js"></script>
<script type="text/javascript" src="../../js/learn/navlearn.js"></script>
</body>

</html>