<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>球队分析</title>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/teamAnalyze.css">
</head>
<body>
	<input type="text" name="date" id="date" />
	<label>拖拽</label>
	<div id="drag" style="width: 100px;height: 100px;border: 2px solid #FF0000"></div>


<script type="text/javascript" src="../js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="../js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui.js"></script>
<!-- <script type="text/javascript" src="../js/My97DatePicker/WdatePicker.js"></script>
 -->
 <script type="text/javascript" src="../js/teamAnalyze.js"></script>
</body>
</html>